@using Microsoft.AspNetCore.Components.Web
@namespace BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="BlazorServer.styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="bootstrap-icons-1.7.2/bootstrap-icons.css"/>
    <script src="sweetalert2/sweetalert.js"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script>
    function SweetConfirm(title) {
        return new Promise((resolve) => {
            swal({
                title: title,
                text: "这个操作不可逆",
                icon: "warning",
                buttons: ["取消", "确定"],
                dangerMode: true
            }).then((willDelete) => {
                resolve(willDelete);
                if (willDelete) {
                    swal("删除成功", "日志被删除了", "success");
                }
            });

        });
    }
</script>
</body>
</html>