@page "/Blog"
@inherits BlogBase
@attribute [Authorize(Roles = "Admin")]

@if (Blog == null)
{
    <p>Loading...</p>
}
else
{
    if (Blog.Id == 0)
    {
        <EditForm Model="Blog" OnValidSubmit="CreateBlog">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <span class="w-25">看起来你还没创建博客，来创建一个新的博客吧！</span>
            <div class="form-group mt-2">
                <InputText @bind-Value="Blog.Name"
                           id="Name" class="form-control w-25" placeholder="请输入博客名称">
                </InputText>
            </div>
            <div class="form-group">
                <MyButton value="Submit" class="btn btn-primary" type="submit"></MyButton>
            </div>
        </EditForm>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col pl-0">
                    <label>博客名称</label>
                    <h3 class="w-25">@Blog.Name</h3>
                    <MyButton value="Add" class="btn btn-info my-2" type="button" @onclick="Add"/>
                </div>
            </div>
            <div class="row">
                @if (Blog.Posts != null)
                {
                    foreach (var post in Blog.Posts)
                    {
                        <div class="col-md-3 border rounded p-3 mr-2 mb-2 w-25">
                            <CascadingValue Value="ColorStyle" Name="ColorStyle" IsFixed="true">
                                <Post Post="post" GetPostId="GetPostId" PostCreated="PostCreated"/>
                            </CascadingValue>
                        </div>
                    }
                }
            </div>
        </div>
    }
}