@page "/Post"
@inherits PostBase

<div class="form-group">
    <div class="form-group">
        <label for="CreateDateTime">创建时间</label>
        <input type="text" @bind="Post!.CreateDateTime" @bind:format="yyyy-MM-dd HH:mm:ss" id="CreateDateTime" class="form-control"/>
        <br/>
        <label for="UpdateDateTime">更新时间</label>
        <input type="text" @bind="Post!.UpdateDateTime" @bind:format="yyyy-MM-dd HH:mm:ss" id="UpdateDateTime" class="form-control"/>
    </div>
</div>
<EditForm EditContext="EditContext" OnValidSubmit="CreatePost">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="title" style="@ColorStyle">标题</label>
        <input type="text" @bind="Post!.Title" @bind:event="oninput" id="title" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="content">内容</label>
        <InputTextArea @bind-Value="Post!.Content" id="content" class="form-control" rows="4"></InputTextArea>
    </div>

    <div class="form-group">
        <MyButton value="Submit" class="btn btn-primary" type="submit"></MyButton>
        <MyButton value="Reset" class="btn btn-dark" type="reset"></MyButton>
        <input value="Delete" class="btn btn-danger" type="button" @onclick="DeletePost"/>
    </div>
</EditForm>